# DependencyControl
.hooks/hooks/pre-commit linguist-language=Python
.hooks/hooks/post-merge linguist-language=Shell
DependencyControl.json linguist-generated

# aae-export
scripts/aae-export-mac/aae-export.py linguist-generated
scripts/aae-export-mac/aae-export-install-dependencies.base122 linguist-generated
scripts/aae-export-mac/libbase122.base64 linguist-generated
scripts/aae-export-linux-x86_64/aae-export.py linguist-generated
scripts/aae-export-linux-x86_64/aae-export-install-dependencies.base122 linguist-generated
scripts/aae-export-linux-x86_64/libbase122.base64 linguist-generated
scripts/aae-export-windows/aae-export.py linguist-generated

# aae-export-base122
tools/aae-export-base122/base122.c linguist-vendored
tools/aae-export-base122/base122.h linguist-vendored
tools/aae-export-base122/util.h linguist-vendored

# aka.request
modules/aka/request/luajit-request/init.lua linguist-vendored
modules/aka/request/luajit-request/luajit-curl.lua linguist-vendored

# aka.mmapfile
modules/aka/mmapfile/mmapfile.lua linguist-vendored
modules/aka/mmapfile/mmapfile/* linguist-vendored

# aka.ljsyscall
modules/aka/ljsyscall/syscall.lua linguist-vendored
modules/aka/ljsyscall/syscall/* linguist-vendored
